DestroyFunc SwitchToDesktop1
AddToFunc   SwitchToDesktop1
# + I DockAppButtonsColorset 23
+ I Exec exec feh --bg-fill $[FVWM_USERDIR]/images/wallpapers/miriam-espacio.jpg

DestroyFunc SwitchToDesktop2
AddToFunc   SwitchToDesktop2
# + I DockAppButtonsColorset 23
+ I Exec exec feh --bg-fill $[FVWM_USERDIR]/images/wallpapers/blue_space_2.jpg

DestroyFunc SwitchToDesktop3
AddToFunc   SwitchToDesktop3
# + I DockAppButtonsColorset 24
+ I Exec exec feh --bg-fill \
    $[FVWM_USERDIR]/images/wallpapers/blue_and_purple_space_2.jpg

DestroyFunc SwitchToDesktop4
AddToFunc   SwitchToDesktop4
# + I DockAppButtonsColorset 23
+ I Exec exec feh --bg-fill \
    $[FVWM_USERDIR]/images/wallpapers/blue_and_purple_space_1.jpg

DestroyFunc SwitchToDesktop5
AddToFunc   SwitchToDesktop5
# + I DockAppButtonsColorset 23
+ I Exec exec feh --bg-fill \
    $[FVWM_USERDIR]/images/wallpapers/blue_and_purple_space_4.jpg

DestroyFunc SwitchToDesktop6
AddToFunc   SwitchToDesktop6
# + I DockAppButtonsColorset 24
+ I Exec exec feh --bg-fill $[FVWM_USERDIR]/images/wallpapers/jeremy-thomas.jpg

DestroyFunc SwitchToDesktop7
AddToFunc   SwitchToDesktop7
# + I DockAppButtonsColorset 23
+ I Exec exec feh --bg-fill $[FVWM_USERDIR]/images/wallpapers/blue_space_1.jpg

DestroyFunc SwitchToDesktop8
AddToFunc   SwitchToDesktop8
# + I DockAppButtonsColorset 24
+ I Exec exec feh --bg-fill \
    $[FVWM_USERDIR]/images/wallpapers/fantasy-style-galaxy-2.jpg

DestroyFunc SwitchToDesktop9
AddToFunc   SwitchToDesktop9
# + I DockAppButtonsColorset 23
+ I Exec exec feh --bg-fill \
    $[FVWM_USERDIR]/images/wallpapers/fantasy-style-galaxy.jpg

DestroyModuleConfig FvwmBacker:*
*FvwmBacker: Command (Desk 0, Page 0 0) SwitchToDesktop1
*FvwmBacker: Command (Desk 0, Page 0 1) SwitchToDesktop2
*FvwmBacker: Command (Desk 0, Page 0 2) SwitchToDesktop3
*FvwmBacker: Command (Desk 0, Page 1 0) SwitchToDesktop4
*FvwmBacker: Command (Desk 0, Page 1 1) SwitchToDesktop5
*FvwmBacker: Command (Desk 0, Page 1 2) SwitchToDesktop6
*FvwmBacker: Command (Desk 0, Page 2 0) SwitchToDesktop7
*FvwmBacker: Command (Desk 0, Page 2 1) SwitchToDesktop8
*FvwmBacker: Command (Desk 0, Page 2 2) SwitchToDesktop9

# FvwmIdent
#
# FvwmIdent is a module that can be used to get the various info about
# a window. One use is getting the class/resource/name of a window.
DestroyModuleConfig FvwmIdent:*
*FvwmIdent: Colorset 10
*FvwmIdent: Font "xft:Arial:size=11:antialias=True"

# FvwmBanner
#
# This displays the Fvwm Logo for 5 seconds. This is displayed
# when fvwm starts.
DestroyModuleConfig FvwmBanner:*
*FvwmBanner: NoDecor
*FvwmBanner: Timeout 5

# FvwmScript
#
# FvwmScript is a module that allows one to write custom desktop
# widgets and various other tools. This config uses two FvwmScripts.
DestroyModuleConfig FvwmScript:*
*FvwmScript: DefaultColorset 10
*FvwmScript: Font "xft:Arial:size=10:antialias=True"

# FvwmButtons - IconManPager
#
DestroyModuleConfig IconManPager:*
*IconManPager: Geometry 275x85-10-10
*IconManPager: Colorset 19
*IconManPager: Rows 85 
*IconManPager: Columns 275
*IconManPager: Frame 0
*IconManPager: Font "xft:Arial:Bold:size=10:antialias=True"
*IconManPager: (275x5, Frame 0)
*IconManPager: (5x75, Frame 0)
*IconManPager: (130x75, Swallow FvwmIconMan 'Module FvwmIconMan', Frame 0)
*IconManPager: (5x75, Frame 0)
*IconManPager: (130x75, Swallow FvwmPager 'Module FvwmPager *', Frame 0)
*IconManPager: (5x75, Frame 0)
*IconManPager: (275x5, Frame 0)

# FvwmPager
#
# This module displays the location of the windows on the various Pages
# and Desks. This is setup to show only the Pages on the current Desk.
DestroyModuleConfig FvwmPager:*
*FvwmPager: Colorset * 40
*FvwmPager: HilightColorset * 13
*FvwmPager: BalloonColorset * 10
*FvwmPager: WindowColorsets 17 20
*FvwmPager: Font None
*FvwmPager: Balloons All
*FvwmPager: BalloonFont "xft:Arial:Bold:size=8:antialias=True"
*FvwmPager: BallonYOffset +2
*FvwmPager: Window3dBorders
*FvwmPager: MiniIcons
*FvwmPager: UseSkipList

# FvwmIconMan
#
# FvwmIconMan is a powerful tool to list and manage windows. This
# is used as the window list in the panel or taskbar.
DestroyModuleConfig FvwmIconMan:*
*FvwmIconMan: Title ""
*FvwmIconMan: TitleButton flat
*FvwmIconMan: UseWinList true
*FvwmIconMan: ShowOnlyIcons true
*FvwmIconMan: ButtonGeometry 130x25
*FvwmIconMan: ManagerGeometry 130x75
*FvwmIconMan: Colorset 17
*FvwmIconMan: Style FvwmButtons ParentalRelativity
*FvwmIconMan: FocusColorset 11
*FvwmIconMan: IconColorset 14
*FvwmIconMan: FocusAndSelectColorset 11
*FvwmIconMan: SelectColorset 11
*FvwmIconMan: IconAndSelectColorset 11
*FvwmIconMan: IconButton up
*FvwmIconMan: IconAndSelectButton up
*FvwmIconMan: DrawIcons always
*FvwmIconMan: ReliefThickness 2
*FvwmIconMan: Format "%t"
*FvwmIconMan: Font "Shadow=3 0 All:xft:Arial:style=bold:size=10:antialias=True"
*FvwmIconMan: Action Mouse 0 A ret
*FvwmIconMan: Action Mouse 1 A sendcommand IconManClick
*FvwmIconMan: Action Mouse 3 A sendcommand "Menu MenuIconOps"
*FvwmIconMan: Resolution global
*FvwmIconMan: Tips always
*FvwmIconMan: Sort id

DestroyFunc DockAppChangeButton
AddToFunc   DockAppChangeButton
+ I SendToModule DockAppIndicator ChangeButton "$0" Colorset $1

DestroyFunc DockAppButtonsColorset
AddToFunc   DockAppButtonsColorset
+ I SendToModule DockAppButtons ChangeButton 0 Colorset $0
+ I SendToModule DockAppButtons ChangeButton 2 Colorset $0
+ I SendToModule DockAppButtons ChangeButton 4 Colorset $0
+ I SendToModule DockAppButtons ChangeButton 6 Colorset $0
+ I SendToModule DockAppButtons ChangeButton 8 Colorset $0
+ I SendToModule DockAppButtons ChangeButton 10 Colorset $0
+ I SendToModule DockAppButtons ChangeButton 12 Colorset $0
+ I SendToModule DockAppButtons ChangeButton 14 Colorset $0
+ I SendToModule DockAppButtons ChangeButton 16 Colorset $0
+ I SendToModule DockAppButtons ChangeButton 18 Colorset $0
+ I SendToModule DockAppButtons ChangeButton 20 Colorset $0
+ I SendToModule DockAppButtons ChangeButton 22 Colorset $0
+ I SendToModule DockAppButtons ChangeButton 24 Colorset $0
+ I SendToModule DockAppButtons ChangeButton 26 Colorset $0

DestroyFunc DockAppInit
AddToFunc   DockAppInit
+ I Any ("urxvt") DockAppChangeButton urxvt 28
+ I Any ("irssi") DockAppChangeButton irssi 28
+ I Any ("discord") DockAppChangeButton discord 28
+ I Any ("Gvim") DockAppChangeButton Gvim 28
+ I Any ("Mail") DockAppChangeButton "Mail" 28
+ I Any ("google-chrome") DockAppChangeButton google-chrome 28
+ I Any ("crx_hpfldicfbfomlpcikngkocigghgafkph") \
    DockAppChangeButton crx_hpfldicfbfomlpcikngkocigghgafkph 28
+ I Any ("crx_mdpkiolbdkhdjpekfbkbmhigcaggjagi") \
    DockAppChangeButton crx_mdpkiolbdkhdjpekfbkbmhigcaggjagi 28
+ I Any ("jellyfinmediaplayer") DockAppChangeButton jellyfinmediaplayer 28
+ I Any ("easyeffects") DockAppChangeButton easyeffects 28
+ I Any ("transmission-remote-gtk") \
    DockAppChangeButton transmission-remote-gtk 28
+ I Any ("steamwebhelper") DockAppChangeButton steamwebhelper 28
+ I Any ("dwarfort") DockAppChangeButton dwarfort 28
+ I Any ("virt-manager") DockAppChangeButton virt-manager 28

DestroyFunc LaunchApplication
AddToFunc   LaunchApplication
+ I Next ($0, CurrentDesk, CirculateHit, Iconic) MoveToCurrent
+ I Next ($0, CurrentDesk, CirculateHit, Iconic) Iconify off
+ I Next ($0, CurrentDesk, CirculateHit) FlipFocus
+ I TestRc (Match) Break
+ I None ($0, CurrentDesk) Exec exec $[1-]

DestroyModuleConfig DockApp:*
*DockApp: Geometry 607x58+656-10
*DockApp: Colorset 21
*DockApp: Frame 0
*DockApp: Padding 0 0
*DockApp: Rows 58
*DockApp: Columns 607
*DockApp: (607x5, Frame 0)
*DockApp: (5x38, Frame 0)
*DockApp: (597x38, \
    Swallow DockAppButtons "Module FvwmButtons DockAppButtons", Frame 0)
*DockApp: (5x38, Frame 0)
*DockApp: (607x5, Frame 0)
*DockApp: (5x5, Frame 0)
*DockApp: (597x5, \
    Swallow DockAppIndicator "Module FvwmButtons DockAppIndicator", Frame 0)
*DockApp: (5x5, Frame 0)
*DockApp: (607x5, Frame 0)

DestroyModuleConfig  DockAppButtons:*
*DockAppButtons: Geometry 597x38
*DockAppButtons: Colorset 22 
*DockAppButtons: ActiveColorset 25 
*DockAppButtons: PressColorset 26
*DockAppButtons: Frame 0
*DockAppButtons: Padding 5 5
*DockAppButtons: Rows 38
*DockAppButtons: Columns 597
*DockAppButtons: (38x38, Icon "images/icons/dock/terminal.png", \
    Colorset 23, Action(Mouse 1) "Exec exec urxvt"
*DockAppButtons: (5x38, ActiveColorset 22, Frame 0)
*DockAppButtons: (38x38, Icon "images/icons/dock/irssi.png", \
    Colorset 23, Action(Mouse 1) \
    "LaunchApplication irssi urxvt -name irssi -e dtach -A /tmp/$[USER]-irssi irssi"
*DockAppButtons: (5x38, ActiveColorset 22, Frame 0)
*DockAppButtons: (38x38, Icon "images/icons/dock/discord.png", \
    Colorset 23, Action(Mouse 1) "LaunchApplication discord discord"
*DockAppButtons: (5x38, ActiveColorset 22, Frame 0)
*DockAppButtons: (38x38, Icon "images/icons/dock/gvim.png", \
    Colorset 23, Action(Mouse 1) "LaunchApplication Gvim gvim"
*DockAppButtons: (5x38, ActiveColorset 22, Frame 0)
*DockAppButtons: (38x38, Icon "images/icons/dock/thunderbird.png", \
    Colorset 23, Action(Mouse 1) "LaunchApplication Mail thunderbird"
*DockAppButtons: (5x38, ActiveColorset 22, Frame 0)
*DockAppButtons: (38x38, Icon "images/icons/dock/google-chrome.png", \
    Colorset 23, Action(Mouse 1) \
    "LaunchApplication google-chrome google-chrome-stable"
*DockAppButtons: (5x38, ActiveColorset 22, Frame 0)
*DockAppButtons: (38x38, Icon "images/icons/dock/messages.png", \
    Colorset 23, Action(Mouse 1) \
    "LaunchApplication crx_hpfldicfbfomlpcikngkocigghgafkph google-chrome --app-id=hpfldicfbfomlpcikngkocigghgafkph"
*DockAppButtons: (5x38, ActiveColorset 22, Frame 0)
*DockAppButtons: (38x38, Icon "images/icons/dock/chat.png", \
    Colorset 23, Action(Mouse 1) \
    "LaunchApplication crx_mdpkiolbdkhdjpekfbkbmhigcaggjagi google-chrome --app-id=mdpkiolbdkhdjpekfbkbmhigcaggjagi"
*DockAppButtons: (5x38, ActiveColorset 22, Frame 0)
*DockAppButtons: (38x38, Icon "images/icons/dock/jellyfin.png", \
    Colorset 23, Action(Mouse 1) \
    "LaunchApplication jellyfinmediaplayer jellyfinmediaplayer"
*DockAppButtons: (5x38, ActiveColorset 22, Frame 0)
*DockAppButtons: (38x38, Icon "images/icons/dock/easyeffects.png", \
    Colorset 23, Action(Mouse 1) "LaunchApplication easyeffects easyeffects"
*DockAppButtons: (5x38, ActiveColorset 22, Frame 0)
*DockAppButtons: (38x38, Icon "images/icons/dock/transmission-remote-gtk.png", \
    Colorset 23, Action(Mouse 1) \
    "LaunchApplication transmission-remote-gtk transmission-remote-gtk"
*DockAppButtons: (5x38, ActiveColorset 22, Frame 0)
*DockAppButtons: (38x38, Icon "images/icons/dock/steam.png", \
    Colorset 23, Action(Mouse 1) "LaunchApplication steamwebhelper steam"
*DockAppButtons: (5x38, ActiveColorset 22, Frame 0)
*DockAppButtons: (38x38, Icon "images/icons/dock/dwarfort.png", \
    Colorset 23, Action(Mouse 1) \
    "LaunchApplication dwarfort steam steam://rungameid/975370"
*DockAppButtons: (5x38, ActiveColorset 22, Frame 0)
*DockAppButtons: (38x38, Icon "images/icons/dock/virt-manager.png", \
    Colorset 23, Action(Mouse 1) "Exec exec virt-manager"

DestroyModuleConfig DockAppIndicator:*
*DockAppIndicator: Geometry 597x5
*DockAppIndicator: Colorset 27
*DockAppIndicator: Frame 0
*DockAppIndicator: Rows 5
*DockAppIndicator: Columns 597
*DockAppIndicator: (38x5, Id "urxvt", Frame 0)
*DockAppIndicator: (5x5, Frame 0)
*DockAppIndicator: (38x5, Id "irssi", Frame 0)
*DockAppIndicator: (5x5, Frame 0)
*DockAppIndicator: (38x5, Id "discord", Frame 0)
*DockAppIndicator: (5x5, Frame 0)
*DockAppIndicator: (38x5, Id "Gvim", Frame 0)
*DockAppIndicator: (5x5, Frame 0)
*DockAppIndicator: (38x5, Id "Mail", Frame 0)
*DockAppIndicator: (5x5, Frame 0)
*DockAppIndicator: (38x5, Id "google-chrome", Frame 0)
*DockAppIndicator: (5x5, Frame 0)
*DockAppIndicator: (38x5, Id "crx_hpfldicfbfomlpcikngkocigghgafkph", Frame 0)
*DockAppIndicator: (5x5, Frame 0)
*DockAppIndicator: (38x5, Id "crx_mdpkiolbdkhdjpekfbkbmhigcaggjagi", Frame 0)
*DockAppIndicator: (5x5, Frame 0)
*DockAppIndicator: (38x5, Id "jellyfinmediaplayer", Frame 0)
*DockAppIndicator: (5x5, Frame 0)
*DockAppIndicator: (38x5, Id "easyeffects", Frame 0)
*DockAppIndicator: (5x5, Frame 0)
*DockAppIndicator: (38x5, Id "transmission-remote-gtk", Frame 0)
*DockAppIndicator: (5x5, Frame 0)
*DockAppIndicator: (38x5, Id "steamwebhelper", Frame 0)
*DockAppIndicator: (5x5, Frame 0)
*DockAppIndicator: (38x5, Id "dwarfort", Frame 0)
*DockAppIndicator: (5x5, Frame 0)
*DockAppIndicator: (38x5, Id "virt-manager", Frame 0)

DestroyFunc DockAppWindowAdded
AddToFunc   DockAppWindowAdded
+ I Silent DockAppChangeButton $[w.resource] 28

DestroyFunc DockAppWindowDestroyed
AddToFunc   DockAppWindowDestroyed
+ I None ($[w.resource]) Silent DockAppChangeButton $[w.resource] 27

# FvwmEvent
#
DestroyModuleConfig DockAppWindowAddedEvent:*
*DockAppWindowAddedEvent: PassID
*DockAppWindowAddedEvent: Cmd Function
*DockAppWindowAddedEvent: add_window DockAppWindowAdded

DestroyModuleConfig DockAppWindowDestroyedEvent:*
*DockAppWindowDestroyedEvent: PassID
*DockAppWindowDestroyedEvent: Cmd Function
*DockAppWindowDestroyedEvent: destroy_window DockAppWindowDestroyed

# FvwmForm
#
# FvwmForm is a module that can be used to build a GUI
# form. Used with fvwm-menu-desktop-config.fpl.
# This sets the default colorsets.
*FvwmFormDefault: Colorset 10
*FvwmFormDefault: ItemColorset 18
*FvwmFormDefault: Font "xft:Arial:style=bold:size=11:antialias=True"
*FvwmFormDefault: InputFont "xft:Arial:style=bold:size=11:antialias=True"
*FvwmFormDefault: ButtonFont "xft:Arial:style=bold:size=11:antialias=True"

# RunProgram
DestroyModuleConfig  RunProgram: *
*RunProgram: GrabServer
*RunProgram: WarpPointer 50 50
*RunProgram: PadVText 0
# Layout
*RunProgram: Line         center 
*RunProgram: Text         "Run Program..."
*RunProgram: Input        Command 20 ""
# Buttons
*RunProgram: Button       quit       "Run"         ^M
*RunProgram: Command        Exec exec $(Command)
*RunProgram: Button       quit       "Cancel"      ^[
*RunProgram: Command        Nop

DestroyModuleConfig  QuitVerify: *
*QuitVerify: GrabServer
*QuitVerify: WarpPointer 50 50
*QuitVerify: PadVText 10
*QuitVerify: Line           expand
*QuitVerify: Text           "Do you really want to quit Fvwm?"
*QuitVerify: Line           expand
*QuitVerify: Line           center
*QuitVerify: Button         quit        "Quit"
*QuitVerify: Command          Quit
*QuitVerify: Text           "       "
*QuitVerify: Button         quit        "Cancel"    ^[
*QuitVerify: Command          Nop
*QuitVerify: Line           expand
