#######
# Colorsets
#
# Colorsets can be used to configure the color of the various
# parts of fvwm such as window decor, menus, modules, etc.
#
# Colorset Convention
#
#   0 - Default
#   1 - Inactive Windows
#   2 - Active Window
#   3 - Inactive Windows Borders
#   4 - Active Windows Borders
#   5 - Menu - Inactive Item
#   6 - Menu - Active Item
#   7 - Menu - Grayed Item
#   8 - Menu - Title
#   9 - Reserved
#  10+ Modules
#      10 - Module Default / FvwmScript Default
#      11 - Module Hilight
#      12 - Module ActiveButton (Mouse Hover)
#      13 - FvwmPager Active Page
#      14 - FvwmIconMan Iconified Button
#  15 - Inactive Buttons Right of Title
#  16 - Active Buttons Right of Title
#  17 - FvwmIconMan default
#  18 - FvwmScript items default
#  19 - IconManPager default
#  20 - IconMan Hilight
#  21 - DockApp default
#  22 - DockAppButtons default
#  23 - DockAppButtons button
#  24 - DockAppBUttons button alt (darker)
#  25 - DockAppButtons active button
#  26 - DockAppButtons pressed button
#  27 - DockAppIndicator off
#  28 - DockAppIndicator on
###########
Colorset 0  fg white, bg MidnightBlue, hi grey30, sh black, Plain, NoShape
Colorset 1  fg grey, bg #0c0c38, hi grey30, sh black, fgsh grey20, \
            Plain, NoShape
Colorset 2  fg white, bg MidnightBlue, hi grey30, sh black, fgsh grey20, \
            Plain, NoShape
Colorset 3  fg grey50, bg #0c0c38, hi grey30, sh black, Plain, NoShape
Colorset 4  fg white, bg MidnightBlue, hi grey30, sh black, Plain, NoShape
Colorset 5  fg grey93, bg grey5, hi grey30, sh black, fgsh, NoShape
Colorset 6  fg white, bg #6464ff, hi, sh, Plain, NoShape
Colorset 7  fg grey30, bg white, hi, sh, Plain, NoShape
Colorset 8  HGradient 128 2 MidnightBlue 66 indigo 33 #6464ff, \
            fg white, hi grey30, sh black, fgsh grey20, NoShape
Colorset 10 DGradient 128 3 #3232e0 25 MidnightBlue 50 indigo 25 grey15, \
            fg grey, hi grey30, sh black, NoShape
Colorset 11 fg white, bg #6464ff, hi grey30, sh black, fgsh grey20, \
            Plain, NoShape
Colorset 12 fg grey20, bg white, hi, sh, Plain, NoShape
Colorset 13 Transparent, Tint #3232e0 50, fg white, hi grey30, sh black, \
            fgsh grey20, NoShape
Colorset 14 HGradient 128 2 MidnightBlue 66 indigo 33 #6464ff, \
            fg white, hi grey30, sh black, fgsh grey20, NoShape
Colorset 15 fg grey, bg MidnightBlue, hi grey30, sh black, fgsh, Plain, NoShape
Colorset 16 fg white, bg #6464ff, hi grey30, sh black, fgsh, Plain, NoShape
Colorset 17 Transparent, fg grey, hi grey30, sh black, NoShape
Colorset 18 DGradient 128 2 MidnightBlue 50 indigo 25 grey15, \
            fg grey, hi grey30, sh black, NoShape
Colorset 19 RootTransparent, Tint #191919 78, fg grey, hi grey30, \
            sh black, Shape "images/iconmanpagermask.xpm"
Colorset 20 Transparent, Tint #6464ff 50, fg white, hi grey30, sh black \
            fgsh grey20, NoShape
Colorset 21 RootTransparent, Tint #191919 78, fg white, hi grey30, sh black, \
            fgsh grey20, Shape "images/dockappmask.xpm"
Colorset 22 Transparent, fg grey, hi grey30, sh black, fgsh, \
            TiledShape "images/dockmask2.xpm"
Colorset 23 Transparent, Tint grey 20, fg grey, hi grey30, sh black, fgsh
Colorset 24 Transparent, Tint #191919 78, fg grey, hi grey30, sh black, fgsh
Colorset 25 Transparent, Tint #6464ff 50, fg white, hi grey30, sh black, \
            fgsh grey20, Shape "images/dockmask.xpm"
Colorset 26 Transparent, Tint #3232e0 50, fg white, hi grey30, sh black, \
            fgsh grey20, Shape "images/dockmask.xpm"
Colorset 27 Transparent, fg grey, hi grey30, sh black, fgsh, \
            TiledShape "images/dockmask4.xpm"
Colorset 28 Transparent, Tint #3232e0 50, fg white, hi grey30, sh black, \
            fgsh grey20, Shape "images/dockmask3.xpm"
Colorset 40 Pixmap $[FVWM_USERDIR]/images/wallpapers/pager_bg.png, \
            fg grey, hi grey30, sh black, NoShape

#######
# Window Decor
#
# Buttons Locations: [1 3 5 7 9  TTTTT  0 8 6 4 2]
#
#   1 - WindowOps Menu
#   2 - Close
#   4 - Maximize
#   6 - Minimize
###########
GeometryWindow Position 10p 45p
GeometryWindow Colorset 8
BorderStyle    Simple
TitleStyle     AllInactive -- Raised
TitleStyle     AllActive -- Raised
TitleStyle     LeftJustified Height MinHeight 25 -- Raised
AddTitleStyle  Active HGradient 128 2 MidnightBlue 66 Indigo 33 #6464ff
AddTitleStyle  Inactive HGradient 128 2 #0c0c38 66 #260041 33 MidnightBlue

ButtonStyle    All Simple -- Raised
AddButtonStyle 1 Inactive Colorset 1
AddButtonStyle 1 MiniIcon
#AddButtonStyle 1 Vector 3 23x58@0 77x58@0 77x42@0
#AddButtonStyle 1 Vector 3 23x58@1 23x42@1 77x42@1
AddButtonStyle 2 Active Colorset 16
AddButtonStyle 2 Inactive Colorset 15
AddButtonStyle 2 Vector 7 25x65@1 35x75@0 50x59@0 65x75@0 75x65@0 \
                 59x50@0 75x35@0  
AddButtonStyle 2 Vector 7 75x35@0 65x25@1 50x40@1 35x25@1 25x35@1 \
                 40x50@1 25x65@1
AddButtonStyle 4 Active Colorset 16
AddButtonStyle 4 ToggledActive Colorset 16
AddButtonStyle 4 Inactive Colorset 15
AddButtonStyle 4 ToggledInactive Colorset 15
AddButtonStyle 4 Vector 3 21x79@0 79x79@0 79x21@0
AddButtonStyle 4 Vector 3 21x79@1 21x21@1 79x21@1
AddButtonStyle 6 Active Colorset 16
AddButtonSTyle 6 Inactive Colorset 15
#AddButtonStyle 6 Vector 3 42x58@0 58x58@0 58x42@0
#AddButtonStyle 6 Vector 3 42x58@1 42x42@1 58x42@1
AddButtonStyle 6 Vector 3 21x79@0 79x79@0 79x63@0
AddButtonStyle 6 Vector 3 21x79@1 21x63@1 79x63@1

ButtonStyle All - Clear
ButtonStyle 1 - MwmDecorMenu
ButtonStyle 4 - MwmDecorMax
ButtonStyle 6 - MwmDecorMin
